<h1>Slots#index</h1>
<p>Find me in app/views/slots/index.html.erb</p>
<%= form_with url: update_date_all_slots_path, local: true, method: :patch do |f| %>

  <table>
    <thead>
      <tr>
        <th></th>
        <th>時間帯</th>
        <th>日付</th>
      </tr>
    </thead>
    <tbody>
      <% @slots.each do |slot| %>
        <tr>
          <td><%= f.check_box "slots[#{slot.id}]"%></td>
          <td><%= slot.start_time %></td>
          <td><%= slot.end_time %></td>
          <td><%= slot.date %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= f.date_field :to_date, required: true %>
  <%= f.submit "一括ステータス変更" %>
<% end %>