<%= render "layouts/header"%>

<%= form_with model: @slot, local: true do |f| %>
<%= render partial: "new&edit_form", locals: { f: f } %>
<% end %>
<%= link_to 'Slot日にち変更', slots_path, method: :get %>
<table>
  <% if @slots.present?%>
  今あるslot
  <tr>
  <th>表示</th>
  <td>日にち</td>
  <td>権限</td>
  <td>受け入れ台数</td>
  <td>残り台数</td>
  <td>開始時間</td>
  <td>終了時間</td>
  <td>更新</td>
  <td>削除</td>
  <td>コピー</td>
  </tr>
  <% @slots.each do |slot| %>
    <tr>
      <th><%= slot.power_switch%></th>
      <td><%= slot.date%></td>
      <td><%= slot.access_level%></td>
      <td><%= slot.max_num%></td>
      <td><%= available_num slot %></td>
      <td><%= slot.start_time%></td>
      <td><%= slot.end_time%></td>
      <td><%= link_to '更新', edit_slot_path(slot.id), method: :get %></td>
      <td><%= link_to '削除', slot_path(slot.id), method: :delete %></td>
      <td><%= link_to 'コピー', copy_slot_path(slot.id), method: :get %></td>
    </tr>
    <% end %>
  <% end %>
</table>

<%= render "layouts/footer"%>