<h1>Slots#new</h1>
<p>Find me in app/views/slots/new.html.erb</p>

<%= form_with model: @slot, local: true do |f| %>
<%= render partial: "new&edit_form", locals: { f: f } %>
<% end %>

今あるslot
<% @slots.each do |slot| %>
<p><%= slot.max_num%></p>
<p><%= slot.date%></p>
<p><%= slot.access_level%></p>
<p><%= slot.power_switch%></p>
<% bookings_num = Booking.where(slot_id: slot.id).length%>
<% num = slot.max_num - bookings_num %>
残<%= num %>本
<p><%= slot.slot_purpose%></p>
<%= link_to '更新', edit_slot_path(slot.id), method: :get %>
<% end %>