<h1>Slots#new</h1>
<p>Find me in app/views/slots/new.html.erb</p>

<%= form_with model: @slot, local: true do |f| %>
  <%= f.number_field :max_num, required: true , min: 0%>
  <%= f.date_field :date, required: true %>
  <%= f.select :access_level, options_for_select(Slot.access_levels.keys), required: true%>
  <%= f.select :power_switch, options_for_select(Slot.power_switches.keys), required: true%>
  <%= f.select :slot_purpose, options_for_select(Slot.slot_purposes.keys), required: true %>
  <%= f.submit "確定"%>
<% end %>

今あるslot
<% @slots.each do |slot| %>
<p><%= slot.max_num%></p>
<p><%= slot.date%></p>
<p><%= slot.access_level%></p>
<p><%= slot.power_switch%></p>
<% bookings_num = Booking.where(slot_id: slot.id).length%>
<% num = slot.max_num - bookings_num %>
残<%= num %>本
<p><%= slot.slot_purpose%></p>
<% end %>