<h1>Slots#new</h1>
<p>Find me in app/views/slots/new.html.erb</p>

<%= form_with model: @slot, local: true do |f| %>
<%= render partial: "new&edit_form", locals: { f: f } %>
<% end %>

<% if @slots.present?%>
今あるslot
<% @slots.each do |slot| %>
<p><%= slot.max_num%></p>
<p><%= slot.date%></p>
<p><%= slot.access_level%></p>
<p><%= slot.power_switch%></p>
残<%= available_num slot %>本
<p><%= slot.slot_purpose%></p>
<%= link_to '更新', edit_slot_path(slot.id), method: :get %>
<%= link_to '削除', slot_path(slot.id), method: :delete %>
<% end %>
<% end %>