<h1>Bookings#index</h1>
<p>Find me in app/views/bookings/index.html.erb</p>


<p><%= link_to "User登録", new_user_registration_path %></p>
<p><%= link_to "Slot登録", new_slot_path %></p>
<p><%= link_to "電源ON", power_path(turn: "on"), method: :put %></p>
<p><%= link_to "電源OFF", power_path(turn: "off"), method: :put %></p>
<p><%= link_to "Booking登録", new_booking_path %></p>
<p><%= link_to "#{current_user.company}さんのBooking一覧", users_path(id: current_user.id) %></p>
<p><%= link_to "#{current_user.company}さんの登録情報一覧", user_path(id: current_user.id) %></p>