<%= render "layouts/header"%>
<table>
  <tr>
  <th>BookingCode</th>
  <td>輸入実入り搬出 コンテナ番号</td>
  <td>輸入空バン返却 コンテナ番号</td>
  <td>輸出実入り搬入 コンテナ番号</td>
  <td>空バンPICK Booking番号</td>
  <td>卸し時</td>
  <td>積み時</td>
  <td>予約日時</td>
  <td>更新</td>
  <td>削除</td>
  </tr>
<% if @bookings.present?%>
  <% @bookings.each do |booking| %>
      <tr>
        <th><%= booking.booking_code%></th>
        <td><%= booking.on_imp_laden_pick%></td>
        <td><%= booking.on_exp_booking_num%></td>
        <td><%= booking.off_exp_laden_in%></td>
        <td><%= booking.off_imp_empty_return%></td>
        <td><%= booking.off_action%></td>
        <td><%= booking.on_action%></td>
        <td><%= booking.slot.date.strftime("%Y年%m月%d日") %>の<%= booking.slot.start_time %>から<%= booking.slot.end_time %></td>
        <td><%= link_to '更新', edit_booking_path(booking.id), method: :get %></td>
        <td><%= link_to '削除', booking_path(booking.id), method: :delete %></td>
      </tr>
  <% end %>
<% else %>
 予約はありません
<% end %>

</table>




<%= render "layouts/footer"%>