<%= render "layouts/header"%>

<%= form_with model: @booking, local: true, url: {action: 'confirm'} do |f| %>

  <%= render partial: "new&edit_form", locals: { f: f } %>

  <div class="field_new">
     <%= f.submit "確認"%>
  </div>

<% end %>

<%= render "layouts/footer"%>