<%= render "layouts/header"%>
<div class="field">
  <div class="field_new">
  <p>おろしどり予約完了しました。</p>
  <div class="field_show">
  受付番号：<span><%= @booking.booking_code %></span>
  </div>
  <% if @booking.imp_cntr_num.present?%>
  <div class="field_show">卸し時のコンテナ番号:<span><%= @booking.imp_cntr_num %></span></div>
  <% end %>
  <% if @booking.exp_cntr_num.present?%>
  <div class="field_show">積み時のコンテナ番号：<span><%= @booking.exp_cntr_num %></span></div>
  <% end %>
  <% if @booking.exp_booking_num.present?%>
  <div class="field_show">積み時のBooking番号：<span><%= @booking.exp_booking_num %></span></div>
  <% end %>
  <div class="field_show">予約時間：<%= @booking.slot.date.strftime("%Y年%m月%d日") %>の<%= @booking.slot.start_time %>から<%= @booking.slot.end_time %></div>
  <div class="field_show">卸す時：<span><%= @booking.off_action %></span></div>
  <div class="field_show">積む時：<span><%= @booking.on_action %></span></div>
  <p>ありがとうございました</p>
  </div>
</div>

  <%= render "layouts/footer"%>