<%= render "layouts/header"%>
<div class="user_separation">
  <div class="user_separation-inbetween">
  <span>一般USERリスト</span>
    <table>
      <%= render partial: "index-head"%>
      <% if @normal_users.present?%>
        <% @normal_users.each do |user| %>
          <%= render partial: "index-list", locals: { user: user } %>
        <% end %>
      <% end %>
    </table>
  </div>

  <div class="user_separation-inbetween">
  <span>特別USERリスト</span>
    <table>
    <%= render partial: "index-head"%>
      <% if @vip_users.present?%>
        <% @vip_users.each do |user| %>
          <%= render partial: "index-list", locals: { user: user } %>
        <% end %>
      <% end %>
    </table>
  </div>

  <div class="user_separation-inbetween">
  <span>ラウンドUSERリスト</span>
    <table>
    <%= render partial: "index-head"%>
      <% if @dr_users.present?%>
        <% @dr_users.each do |user| %>
          <%= render partial: "index-list", locals: { user: user } %>
        <% end %>
      <% end %>
    </table>
  </div>
</div>
<%= render "layouts/footer"%>