<%= render "layouts/header"%>
<div class="user_subject">
  <span>更新したユーザー登録情報</span>
</div>

<div class="user_base">
  <div class="user_show">
    <%= @user.name%>
    <i class="fas fa-user"></i>
  </div>

  <div class="user_show">
    <%= @user.company%>
    <i class="fa fa-truck"></i>
  </div>

  <div class="user_show">
    <%= @user.phone%>
    <i class="fas fa-phone"></i>
  </div>

  <div class="user_show">
    <%= @user.email%>
    <i class="fas fa-envelope"></i>
  </div>
</div>


<%= render "layouts/footer"%>
