<%= render "layouts/header"%>

<div class="login">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="login_form">
    <%= f.email_field :email, class: "email_field", required: true, placeholder: "メールアドレス"  %>
    <i class="fas fa-envelope"></i>
  </div>

  <div class="login_form">
    <%= f.submit "パスワードの再設定", class: "submit_button"  %>
  </div>
<% end %>
<%= render "devise/shared/links" %>
</div>


<%= render "layouts/footer"%>
